---
title  : Home
type   : home
hidden : true
---

{% include svg/logo.svg class="n1" %}
{% include svg/search.svg class="n1" %}
{% include svg/burger.svg class="n1" %}

{% include html/block-see.html class="n1" %}
{% include html/block-see.html class="n2" %}
{% include html/block-see.html class="n3" %}

<img src="/assets/img/chloe.png" class="_chloe --n1" alt="">
<img src="/assets/img/chloe.png" class="_chloe --n2" alt="">
<img src="/assets/img/chloe.png" class="_chloe --n3" alt="">

<img src="/assets/img/paul.png" class="_paul --n1" alt="">
<img src="/assets/img/paul.png" class="_paul --n2" alt="">
<img src="/assets/img/paul.png" class="_paul --n3" alt="">

{% include svg/squiggle.svg %}
 <!-- include svg/squiggle2.svg %} -->
