---
title  : Home
type   : home
hidden : true
---

<a class="lnk _home --n1" href="/">
  {% include svg/logo.svg %}
</a>
<div class="lnk _search --n1">
  {% include svg/search.svg %}
</div>
<div class="lnk _burger --n1">
  {% include svg/burger.svg %}
</div>

<img src="/assets/img/paul-1.png" class="_paul --n1" alt="">
<img src="/assets/img/paul-2.png" class="_paul --n2" alt="">
<img src="/assets/img/paul-3.png" class="_paul --n3" alt="">

<img src="/assets/img/chloe-1.png" class="_chloe --n1" alt="">
<img src="/assets/img/chloe-1.png" class="_chloe --n2" alt="">
<img src="/assets/img/chloe-1.png" class="_chloe --n3" alt="">

{% include svg/squiggle1.svg %}
{% include svg/squiggle2.svg %}
{% include svg/squiggle3.svg %}
