
.block._cv {

  &-row {
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    display: grid;

    &:not(:first-of-type) {
      padding-top: 20px;
    }

    &:not(:last-of-type) {
      padding-bottom: 20px;
    }

    &-title {
      @extend %bold;
      grid-column: 1 / 4;
      font-size: 2.1rem;
    }

    &-content {
      align-content: flex-start;
      grid-row-gap: 2px;
      column-count: 1;
      display: grid;

      &.--skills {
        grid-template-columns: repeat(3,1fr);
        grid-column: 1 / 4;
        grid-row-gap: 6px;
      }

      &.--education {
        grid-row-gap: 6px;
      }
    }

    + .block._cv-row {
      border-top: 1px solid $black;
    }
  }

  &-name {
    @extend %bold;
    font-size: 3.6rem;
    grid-column: 1 / 3;

    &-wrap {
      max-width: 200px;
    }
  }

  &-deets {
    grid-column: 3;
  }

  &-bio {
    grid-row-gap: 10px;
    grid-column: 1 / 3;
    display: grid;
  }
}
