
.area {

  &._hero {
    @extend %area-setup;
    @extend %grid_hero;
  }

  &._desktop {
    @extend %area-setup;
    @extend %grid_hero;
    background-color: $desktop;
    color: $desktopBar;
  }

  &._email {
    @extend %grid_email;
    height: $blockHeightSml * 11;
    background-color: $email;
  }

  &._casestudy {
    @extend %grid_hero;
    padding-bottom: $blockHeight;

    @media#{$max767} {
      padding-top: $blockHeight;
    }
  }

  &._cv {
    @extend %grid_cv;
    padding-bottom: $blockHeight * 2;

    @media#{$max767} {
      padding-top: $gridPad;
    }
  }

  &._blog {
    @extend %grid_cv;
    padding-bottom: $blockHeight;
  }

  &._index {
    @extend %grid_cv;
    padding-bottom: $blockHeight;

    @media#{$max767} {
      padding-top: $gridPad;
    }
  }
}
