
.btn {

  &._nav {
    text-align: right;
    cursor: pointer;

    &.--search {
      grid-column: 3;
    }
  }

  &._form {

    &-exit {
      @extend %form-btn;
      background-color: #fc605c;
    }

    &-mini {
      @extend %form-btn;
      background-color: #fdbc40;
    }
  }
}
