
.wrap {

  &._overlay.--browse {
    text-align: center;

    .lnk + .lnk {
      margin-top: $gridPad;
    }
  }

  &._hero {
    @extend %wrap_grid;
    place-self: center;
  }

  &._see {
    @extend %wrap_grid;
    text-align: center;
  }

  &._casestudy {
    @extend %wrap_grid;
    place-self: center;
  }

  &._paginate {
    @extend %wrap_grid;
    grid-template-columns: 1fr 50px 1fr;
    grid-column-gap: $gridPad;
    justify-content: center;
    text-align: center;
  }

  &._readmore {
    @extend %wrap_grid;
    justify-content: center;
  }

  &._header {
    @extend %wrap_grid;
    grid-template-columns: 90px auto 70px 70px;
  }

  &._email {
    @extend %wrap_grid;
    align-content: flex-end;
  }

  &._cv {
    @extend %wrap_grid;
    background-color: $white;
    padding: $gridPad;
  }

  &._blog {
    @extend %wrap_grid;
    place-self: center;
  }

  &._index {
    @extend %wrap_grid;
    place-self: center;
  }
}
