
.area {
  position: relative;
  overflow: hidden;
  z-index: 2;

  &._header {
    padding-right: 40px;
    padding-left: 40px;
    position: relative;
    overflow: visible;
    font-size: 24px;
    z-index: 10;
    width: 100%;
  }

  &._hero {
    padding: 40px;
    display: grid;
    height: 90%;
  }

  &._ticker {
    background-color: rgba(0,0,0,.05);
    padding: 100px 20px;
  }

  &._desktop {
    background-color: $teal;
    height: 640px;
  }

  &._email {
    background-color: $smoke;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 100px;
  }

  &._cv {
    line-height: 1.5;

    @media#{$max719w} {
      padding-bottom: 40px;
      text-align: center;
    }

    @media#{$min720w} {
      padding-bottom: 80px;
    }
  }

  &._footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    color: white;
  }

  &._index {
    padding: 0 40px 40px;
  }

  &._about {
    padding: 0 40px 40px;
  }

  &._project {
    @media#{$min640w} {
      padding-right: 40px;
      padding-left: 40px;
    }

    + ._example {
      margin-top: 10px;

      @media#{$min640w} {
        margin-top: 20px;
      }

      &.--split {
        @media#{$min640w} {
          margin-top: 20px;
        }
      }
    }
  }
}
