
.area {
  position: relative;
  overflow: hidden;
  z-index: 2;

  &._header {
    grid-template-columns: 40px minmax(200px,800px) 40px;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
    display: grid;
    width: 100%;
    z-index: 3;

    &.--nyo .svg {
      &._logo {
        fill: white;
      }
      &._search {
        fill: white;
      }
      &._burger {
        fill: white;
      }
    }
  }

  &._hero {
    grid-template-columns: 40px minmax(240px,360px) 40px;
    text-decoration: none;
    place-content: center;
    overflow: visible;
    display: grid;
    height: 95%;
    z-index: 1;

    &.--nyo {
      color: white;
    }
  }

  &._ticker {
    grid-template-columns: 40px 240px 40px;
    justify-content: center;
    padding-bottom: 40px;
    font-size: 18px;
    display: grid;

    @media#{$min720w} {
      grid-template-columns: 40px 400px 40px;
    }

    &.--home {
      background-color: rgba(0,0,0,0.1);
      padding-bottom: 80px;
      padding-top: 80px;
      font-size: 21px;
    }

    &.--wemade {
      background-color: rgba($wemade,0.2);

      .row.--active {
        background-color: rgba($wemade,0.2);
      }
    }

    &.--paul {
      background-color: rgba($paul,0.2);

      .row.--active {
        background-color: rgba($paul,0.2);
      }
    }

    &.--chloe {
      background-color: rgba($chloe,0.2);

      .row.--active {
        background-color: rgba($chloe,0.2);
      }
    }

    &.--play {
      background-color: rgba($play,0.2);

      .row.--active {
        background-color: rgba($play,0.2);
      }
    }

    &.--nyo {
      background-color: rgba(white,0.02);
      border-color: white;
      color: white;

      .row.--active {
        background-color: black;
      }
    }
  }

  &._desktop {
    background-color: $teal;
    height: 600px;
  }

  &._canvas {
    grid-template-columns: 40px minmax(240px,800px) 40px;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
    overflow: visible;
    display: grid;
  }

  &._email {
    grid-template-columns: 40px minmax(260px,600px) 40px;
    background-color: $smoke;
    justify-content: center;
    padding-top: 40px;
    font-size: 16px;
    display: grid;

    @media#{$min720w} {
      padding-top: 80px;
    }
  }

  &._content {
    grid-template-columns: 40px minmax(200px,800px) 40px;
    justify-content: center;
    padding-bottom: 40px;
    display: grid;

    &.--blog {
      font-family: monospace;
    }

    &.--missing {
      text-align: center;
    }

    &.--dark {
      color: white;
    }
  }

  &._cv {
    grid-template-columns: 1fr minmax(320px,440px) 1fr;
    justify-content: center;
    line-height: 1.5;
    display: grid;

    @media#{$max719w} {
      padding-bottom: 40px;
      text-align: center;
    }

    @media#{$min720w} {
      grid-template-columns: 80px minmax(560px,720px) 80px;
      padding-bottom: 80px;
    }
  }

  &._index {
    grid-template-columns: 40px minmax(240px,800px) 40px;
    justify-content: center;
    padding-bottom: 40px;
    display: grid;
  }

  &._project {
    grid-template-columns: 1fr minmax(320px,960px) 1fr;
    justify-content: center;
    display: grid;
  }

  &._footer {
    background-color: $coal;
    text-align: center;
    padding: 20px;
    color: white;
  }
}
