
.area {
  position: relative;
  overflow: hidden;
  z-index: 2;

  &._see {
    @extend %area_grid;
    border-bottom: 4px solid;
    margin-top: -52px;
  }

  &._ticker {
    background-color: white;
    padding-bottom: 15px;
    white-space: nowrap;
    padding-top: 10px;
  }

  &._index {
    overflow: visible;
  }

  &._rollover {
    @include zero;
    position: absolute;
    margin: auto;
  }

  &._results {
    @extend %area_grid;
    grid-template-columns: 1fr;
    padding-top: 10px;
    font-size: 24px;
    grid-gap: 4px;
  }

  &._clock {
    @extend %area_grid;
    letter-spacing: 0.05rem;
    grid-auto-flow: column;
    line-height: 1;
    grid-gap: 10px;
  }

  &._header {
    @extend %area_grid;
    @extend %grid_default;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
    z-index: 3;
  }

  &._hero {
    @extend %area_grid;
    align-content: center;
    max-height: 700px;
    height: 80%;

    svg {
      display: none;
    }

    &._paul {
      #paul_svg {
        display: block;
      }
    }

    &._chloe {
      #chloe_svg {
        display: block;
      }
    }

    &._wemade {
      #wemade_svg {
        display: block;
      }
    }
  }

  &._toolbar {
    @extend %area_grid;
    @extend %grid_default;
    background-color: darken($teal,3%);
    padding-bottom: 12px;
    padding-top: 12px;

    @media#{$max639w} {
<<<<<<< HEAD
      grid-template-columns: auto minmax(320px,800px) auto;
=======
      grid-template-columns: auto minmax(300px,800px) auto;
>>>>>>> b058aeea39a06a18007fd4bffa3eadc1fdae197a
    }
  }

  &._desktop {
    @extend %area_grid;
    @extend %grid_default;
    background-color: $teal;
    padding-bottom: 40px;
    padding-top: 40px;
    height: 600px;
  }

  &._email {
    @extend %area_grid;
    grid-template-columns: 30px minmax(260px,600px) 30px;
    background-color: $smoke;
    padding-top: 30px;
    font-size: 16px;

    @media#{$min720w} {
      padding-top: 80px;
    }
  }

  &._footer {
    background-color: $coal;
    text-align: center;
    padding: 20px;
    color: white;
  }

  &._text {
    @extend %area_grid;
    @extend %grid_default;
    padding-bottom: 80px;

    &.--missing {
      text-align: center;
    }
  }

  &._blog {
    @extend %area_grid;
    @extend %grid_default;
    font-family: monospace;
    padding-bottom: 40px;


    &.--dark {
      color: white;
    }
  }

  &._resume {
    @extend %area_grid;
    grid-template-columns: 1fr minmax(320px,440px) 1fr;
    line-height: 1.5;

    @media#{$max719w} {
      padding-bottom: 40px;
      text-align: center;
    }

    @media#{$min720w} {
      grid-template-columns: 80px minmax(560px,720px) 80px;
      padding-bottom: 80px;
    }
  }

  &._project {
    @extend %area_grid;
    grid-template-columns: 1fr minmax(320px,960px) 1fr;
  }
}
