
%bar {
  justify-content: flex-start;
  grid-auto-flow: column;
  grid-column-gap: 12px;
  align-content: center;
  padding-right: 12px;
  padding-left: 12px;
  display: grid;
  height: 40px;
}

.bar {

  &._window {
    @extend %bar;
  }

  &._email {
    @extend %bar;
    background-color: $gray;
  }
}
