
%bar {
  justify-content: flex-start;
  grid-auto-flow: column;
  grid-column-gap: 12px;
  align-content: center;
  padding: 12px;
  display: grid;
}

.bar {
  
  &._window {
    @extend %bar;
  }

  &._email {
    @extend %bar;
    background-color: $gray;
  }
}
