
.bar {

  &._window {
    justify-content: flex-start;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    align-content: center;
    padding-right: 10px;
    padding-left: 10px;
    display: grid;
    height: 40px;
  }

  &._email {
    justify-content: flex-start;
    background-color: $gray;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    align-content: center;
    padding-right: 10px;
    padding-left: 10px;
    display: grid;
    height: 40px;
  }
}
