
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p {
  letter-spacing: -0.03rem;
  margin: 0;
}

p {
  line-height: 1.25;

  + p {
    margin-top: 20px;
  }
}

a {
  color: inherit;
}

b, strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 72px;
  line-height: 1;
}

h6 {
  font-size: 54px;
  line-height: 1;
}

h3 {
  font-size: 28px;

  + p {
    margin-top: 20px;
  }
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

span {
  &._nyo {
    text-align: center;
    max-width: 300px;
  }
}

button {
  display: inline-block;
  border-radius: 0;
  cursor: pointer;
  border: none;
  width: auto;
  padding: 0;
}

img {
  display: block;

  &._flex {
    max-width: 100%;
  }
}

video {
  background-color: rgba(0,0,0,.05);
  width: 100%;
}

form {
  width: 100%;
}
