
.btn {
  cursor: pointer;

  &._desktop {
    background-color: darken($teal,10%);
    border-radius: 50%;
    height: 20px;
    width: 20px;

    &.--min {
      background-color: darken($teal,20%);
    }
  }

  &._window {
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    height: 20px;
    width: 20px;

    &.--close {
      background-color: red;
    }

    &.--min {
      background-color: orange;
    }
  }

  &._email {
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    height: 20px;
    width: 20px;

    &.--close {
      background-color: red;
    }

    &.--min {
      background-color: orange;
    }
  }

  &._download {
    width: 48px;
  }
}
