
.btn {
  cursor: pointer;

  &._toolbar {
    background-color: rgba(black,0.4);
    border-radius: 50%;
    height: 20px;
    width: 20px;

    &._funny {
      background-color: $coral;
    }
    &._songs {
      background-color: $songs;
    }
    &._jobs {
      background-color: $gray;
    }
  }

  &._window {
    background-color: rgba(black,0.1);
    border-radius: 50%;
    height: 20px;
    width: 20px;

    &.--close {
      background-color: $chromeRed;
    }

    &.--min {
      background-color: $chromeYellow;
    }
  }

  &._email {
    background-color: rgba(black,0.1);
    border-radius: 50%;
    height: 20px;
    width: 20px;

    &.--close {
      background-color: $chromeRed;
    }

    &.--min {
      background-color: $chromeYellow;
    }
  }

  &._download {
    width: 48px;
  }
}
