
.btn {
  background-color: $gray;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  width: 20px;

  &._close {
    background-color: red;
  }

  &._min {
    background-color: orange;
  }
}
