
.col {

  &._icons {
    justify-content: flex-start;
    grid-auto-flow: column;
    grid-gap: 12px;
    display: grid;

    @media#{$max639w} {
      display: none;
    }
  }

  &.--toolbar {
    justify-content: center;
    align-items: center;
    display: grid;
  }

  &.--desktop {
    justify-content: flex-start;
    position: relative;
  }

  &._left {

    &.--desktop {
      direction: ltr;
      display: grid;
      z-index: 2;

      @media#{$max719w} {
        top: -220px;
      }
    }
  }

  &._right {

    &.--desktop {
      grid-template: auto / repeat(2,auto);
      align-content: flex-start;
      grid-column-gap: 25px;
      grid-row-gap: 20px;
      direction: rtl;
      display: grid;
      z-index: 1;
    }
  }
}
