
%copy {

  &_blog {

    h1 + p {
      margin-top: 40px;
    }

    p {
      + p, + ul {
        margin-top: 20px;
      }
      + blockquote, + .list {
        margin-top: 40px;
      }
    }

    ul {
      + p {
        margin-top: 20px;
      }
    }

    blockquote {
      + p, + .copy {
        margin-top: 40px;
      }
    }

    .list {
      + p {
        margin-top: 40px;
      }
    }

    .copy {
      + .copy {
        margin-top: 20px;
      }
    }
  }

  &_dark {
    color: white;

    blockquote {
      background-color: rgba(white,0.04);
    }
  }
}

.copy {

  &._clock {
    letter-spacing: 0.05em;
    color: rgba(black,0.4);

    &.--day {
      font-weight: bold;

      @media#{$max639w} {
        display: none;
      }
    }

    &.--time {
      grid-auto-flow: column;
      grid-gap: 5px;
      display: grid;

      @media#{$max639w} {
        font-weight: bold;
      }
    }
  }

  &._ticker {
    @include ib();
    line-height: 1;
  }

  &._hello {
    @media#{$max639w} {
      display: none;
    }
  }

  &.--blue {
    color: $atomBlue;
  }
  &.--purple {
    color: $atomPurple;
  }
  &.--red {
    color: $atomRed;
  }
  &.--orange {
    color: $atomOrange;
  }
  &.--yellow {
    color: $atomYellow;
  }

  // &._hero {
  //   text-align: center;
  //   line-height: 1.4;
  //   min-height: 90px;
  //   font-size: 34px;
  //   z-index: 4;
  // }

  &._footer {
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 4px;
    display: grid;

    @media#{$min640w} {
      grid-auto-flow: column;
    }
  }
}
