
.copy {

  &._hello {
    @media#{$max639w} {
      display: none;
    }
  }

  &._hero {
    text-align: center;
    min-height: 72px;
    max-width: 280px;
    grid-area: 1 / 1;
    font-size: 28px;
    z-index: 4;
  }

  &._footer {
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 4px;
    display: grid;

    @media#{$min640w} {
      grid-auto-flow: column;
    }
  }
}
