
.entry {
  // align-self: center;

  @media#{$max719w} {
    padding-bottom: 10px;
    padding-top: 10px;

    + .entry {
      border-top: 1px solid black;
    }
  }

  &._name {
    line-height: 1.1;

    @media#{$max719w} {
      justify-content: center;
      grid-auto-flow: column;
      grid-column-gap: 10px;
      display: inline-grid;
    }
  }

  &._address {
    @media#{$min720w} {
      align-self: center;
      grid-column: 3;
    }
  }

  &._bio {
    @media#{$min720w} {
      padding-right: 30px;
      grid-column: span 2;
      display: grid;
    }
  }
}
