
.folder {
  cursor: pointer;

  &._open {

    #folder {

      #open {
        display: none;
      }

      #close {
        display: block;
      }
    }
  }

  #folder {

    #close {
      display: none;
    }
  }
}
