
$smoke:  darken(white,8%);
$gray:   darken(white,12%);
$carbon: lighten(black,10%);
$coal:   lighten(black,6%);

$NYOblue: #3eb4e5;
$NYOred: #e70d34;
$NYOgold: #fabc49;
$NYOgreen: #24aba6;

$max639w:  'only screen and (max-width: 639px)';
$min640w:  'only screen and (min-width: 640px)';
$min1112w: 'only screen and (min-width: 1112px)';
$min1224w: 'only screen and (min-width: 1224px)';

$click: scale(0.95);

%cf:after {
  display: table;
  content: "";
  clear: both;
}
