
$wemade: hsl(50, 85%, 55%);
$paul  : hsl(30, 85%, 55%);
$chloe : hsl(175, 85%, 35%);
$play  : hsl(200, 85%, 45%);
$nyo   : hsl(0, 0%, 10%);

$dodger: hsl(210, 90%, 50%);
$sky:    hsl(205, 100%, 85%);
$coral:  hsl(345, 100%, 45%);
$pink:   hsl(350, 95%, 65%);
$teal:   hsl(175, 100%, 35%);

$NYOblue:  #3eb4e5;
$NYOred:   #E60032;
$NYOgold:  #fabc49;
$NYOgreen: #24aba6;

$folder : hsl(60, 100%, 80%);

$max639w:  'only screen and (max-width: 639px)';
$min640w:  'only screen and (min-width: 640px)';
$min1112w: 'only screen and (min-width: 1112px)';
$min1224w: 'only screen and (min-width: 1224px)';
$max719w: 'only screen and (max-width: 719px)';
$min720w: 'only screen and (min-width: 720px)';
