
html {

  &.menu {
    overflow: hidden;

    body {
      overflow: hidden;
    }

    .area {
      &._header {
        position: fixed;
      }
    }

    .text_jump {
      display: none;
    }

    #logo, #menu {
      fill: white !important;
    }
  }
}
