
html {

  &.menu {
    overflow: hidden;

    body {
      overflow: hidden;
    }

    .area {
      &._header {
        position: fixed;
      }
    }

    .svg {
      &._logo {
        fill: $smoke;
      }
      &._search {
        fill: $smoke;
      }
      &._burger {
        fill: $smoke;
      }
    }
  }
}
