
html {

  &._menu {

    body {
      overflow: hidden;
    }

    .area {
      &._menu {
        display: grid;
      }
    }

    .text_jump {
      display: none;
    }

    #logo, #menu {
      fill: white;
    }
  }
}
