img {

  &._paul {
    @extend %center;
    width: 200px;
    transform:
      translateX(-68%)
      // translateY(-42%)
      scale(0.8);
    z-index: 1;
  }

  &._chloe {
    @extend %center;
    width: 200px;
    transform:
      translateX(-68%)
      translateY(-42%)
      scale(0.8);
    z-index: 1;
  }

  &._flex {
    @extend %img_flex;
  }
  &._kenm {
    @extend %img_flex;
  }
  &._thumb {
    @include zero($t:-40px,$l:160px);
    position: absolute;
    height: 150px;
    width: 150px;
    z-index: -1;
    opacity: 0;
  }
}
