
.input {
  border-radius: 0;

  &._email {
    min-width: 190px;
    color: $gray;
    padding: 0;
  }

  &._text {
    &.--subject {
      padding: 0 !important;
      color: $gray;
    }
    &.--search {
      background: url('/assets/img/search.svg') no-repeat right center;
      background-size: 36px;
      padding: 0 50px 0 0;
      line-height: 1;
      opacity: 0;
    }
  }
}
