
.layout {

  &-default {

    &._nyo {

      ._header {
        color: white;

        .burger {
          background-color: white;
        }
      }

      ._hero {
        background-color: #1A1A1A;
        color: white;
      }

      #hero {
        fill: black;
      }

      .type:nth-child(1), .type:nth-child(4) {
        font-weight: bold;
      }
    }
  }
}
