
@mixin custom($color) {
  background-color: rgba($color,0.1);

  .area._content {
    a {
      color: $color;
    }

    svg._squiggle2 path {
      stroke: $color;
    }
  }

  svg {
    @include svg_nav($color);
  }
}

.layout {
  transition: background-color 500ms;

  &.--blog {
    .area._content {
      @extend %copy_blog;
    }

    &.--dark {
      background-color: $carbon;

      .area._content {
        @extend %copy_dark;
      }

      svg {
        @include svg_nav(white);
      }
    }
  }

  &.--work:not(.--index) {
    .area._content {
      @extend %area_work;
      @extend %copy_blog;
    }
  }

  &.--index {
    .area._content {
      @extend %copy_blog;
    }
  }

  &.--notfound {
    .area._content {
      @extend %copy_blog;
      text-align: center;

      h1 {
        font-size: 60px;

        + p {
          margin-top: 20px;
        }
      }
    }
  }

  &.--home {

    .area {
      &._header {
        position: absolute;
      }
      &._content {
        max-height: 700px;
        height: 80%;

        img {
          opacity: 0;
        }
      }
    }

    &._wemade {
      @include custom($wemade);
    }

    &._paul {
      @include custom($paul);

      img._paul {
        opacity: 1;
      }
    }

    &._chloe {
      @include custom($chloe);

      img._chloe {
        opacity: 1;
      }
    }
  }

  &.--cv {
    .area._content {
      @extend %area_cv;
    }
    .wrap._content {
      @extend %wrap_cv;
    }
  }
}
