
.layout {
  transition: background-color 500ms;

  &.--dark {
    background-color: $carbon;

    blockquote {
      background-color: rgba(white,0.04);
    }

    svg {
      @include svg_nav(white);
     }
  }

  &._hero {

    .area._header {
      position: absolute;
    }

    &._wemade {
      background-color: rgba($wemade,0.2);
    }

    &._paul {
      background-color: rgba($paul,0.2);
    }

    &._chloe {
      background-color: rgba($chloe,0.2);
    }
  }

  &._resume {
    transition: background-color 300ms;
    background-color: white;

    @media#{$min720w} {
      background-color: $smoke;
    }
  }
}
