
.list {

  &._visual {
    grid-gap: 10px;
    display: grid;
  }

  &._cv {
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
    display: grid;

    &._projects, &._jobs {
      grid-row-gap: 10px;
    }
  }
}
