
.lnk {
  align-content: center;
  cursor: pointer;
  display: grid;

  &._see {
    background-color: black;
    text-decoration: none;
    padding: 12px 15px;
  }

  &._trello {
    text-decoration: none;
    grid-column: 2 / 3;
    overflow: hidden;
    display: none;
    opacity: 0;

    &:nth-child(-n+3) {
      display: grid;
      opacity: 1;
    }
  }

  &._paginate {
    width: 200px;
  }

  &._menu {
    text-decoration: none;
    overflow: hidden;

    &:hover {
      background-color: white;
      color: $coral;
    }

    + .lnk._menu {
      border-top: 2px solid;
      margin-top: -2px;
    }
  }

  &._results {
    text-decoration: none;
  }

  &._index {
    text-decoration: none;
    position: relative;
    display: none;

    &:nth-child(-n+5) {
      display: block;
    }

    @media#{$min640w} {
      + .lnk._index {
        border-top: 2px solid black;
      }
    }
  }
}
