
%lnk {

  &_see {
    @extend %center;
    transform-origin: center;
    text-align: center;
    font-weight: bold;
    z-index: 999;
    height: 28px;
    width: 110px;
  }

  &_hero {
    @extend %center;
    display: block;
    height: 40px;
  }
}

.lnk {
  cursor: pointer;

  &._home {
    &.--n1 {
      @extend %lnk_hero;
      z-index: 999;
      width: 90px;
      top: -70%;

      @media#{$min640w} {}
    }
  }

  &._search {
    &.--n1 {
      @extend %lnk_hero;
      z-index: 999;
      width: 40px;
      left: -40%;
      top: 65%;

      @media#{$min640w} {}
    }
  }

  &._burger {
    &.--n1 {
      @extend %lnk_hero;
      z-index: 999;
      width: 40px;
      left: 50%;
      top: 90%;

      @media#{$min640w} {}
    }
  }

  &._see {
    text-transform: capitalize;
    font-size: 20px;

    &.--n1 {
      @extend %lnk_see;
      transform: scale(1.1);
      left: -140px;
      top: -270px;
    }
    &.--n2 {
      @extend %lnk_see;
      transform: scale(1.1) rotate(-90deg);
      left: 600px;
      top: -40px;
    }
    &.--n3 {
      @extend %lnk_see;
      transform: scale(1.1);
      left: -250px;
      top: 250px;
    }
    &.--n4 {
      background-color: black;
      padding: 12px 15px;
      color: white;
    }
  }

  &._trello {
    text-decoration: none;
    grid-column: 2 / 3;
    overflow: hidden;
    display: none;
    opacity: 0;

    + .lnk._trello {
      margin-top: 10px;
    }

    &:nth-child(-n+3) {
      display: grid;
      opacity: 1;
    }
  }

  &._paginate {
    text-decoration: none;

    &-page {
      padding: 40px;
    }

    &.--text {
      font-weight: bold;
      font-size: 21px;
    }
  }

  &._menu {
    text-decoration: none;
    overflow: hidden;

    &:hover {
      background-color: white;
      color: $coral;
    }

    + .lnk._menu {
      border-top: 2px solid;
      margin-top: -2px;
    }
  }

  &._results {
    text-decoration: none;
  }

  &._index {
    text-decoration: none;
    position: relative;
    // display: none;

    &:nth-child(-n+5) {
      display: block;
    }

    @media#{$min640w} {
      + .lnk._index {
        border-top: 2px solid black;
      }
    }
  }
}
