
.lnk {
  cursor: pointer;
  align-content: center;
  display: grid;

  &._index {
    border: 2px solid black;
    text-decoration: none;
    padding: 10px;
  }

  &._menu {
    opacity: 0;
  }

  &._social {
    display: block;
  }
}

.home_link {
  text-decoration: none;
}

.text_jump {
  text-decoration: none;
}
