
body._nyo {

  ._header {
    color: white;

    #logo {
      fill: white;
    }

    .burger {
      background-color: white;
    }
  }

  .area._hero {
    background-color: $carbon;
    color: white;
  }

  .area._jobs {
    background-color: $coal;
    color: white;
  }

  #left {
    fill:#EA002D;
  }
  #right {
    fill:#FDBC3B;
  }
}
