
.overlay {
  background-color: $smoke;
  border-color: $carbon;
  overflow: scroll;
  font-size: 40px;
  @include zero();
  position: fixed;
  color: $carbon;
  display: none;
  padding: 30px;
  height: 100%;
  z-index: 3;

  &._open {
    display: grid;
  }

  &._load {
    font-size: 32px;
  }

  &._menu {
    justify-content: center;
    font-size: 32px;
  }
}
