
body._play {

  .area._hero {
    background-color: $smoke;
    color: black;
  }

  .area._jobs {
    background-color: $gray;
    color: black;
  }

  #blob {
    fill: white;
  }
  #left {
    fill:#89BCF6;
  }
  #right {
    fill:#FFA24C;
  }
}
