
.pop {

  .title {
    text-transform: uppercase;
    font-size: 48px;
    color: red;
  }

  ._box {
    border-color: red;
  }

  ._progress {
    background-color: red;
  }

  &op {

    .title {
      font-size: 42px;
      color: blue;
    }

    ._box {
      border-color: blue;
    }

    ._progress {
      background-color: blue;
    }
  }

  &opop {

    .title {
      font-family: $book;
      font-style: italic;
      color: $coal;
    }

    ._box {
      border-color: $coal;
    }

    ._progress {
      background-color: $coal;
    }
  }
}
