
.popup {
  box-shadow: 0 3px 9px 3px rgba(0,0,0,0.03);
  transition: left 400ms;
  border-radius: 3px;
  position: absolute;
  overflow: hidden;

  @media#{$max639w} {
    &._tim {
      top: 40px;
      left: -200px;
    }

    &._steve {
      top: 120px;
      left: -100px;
    }

    &._eric {
      top: 220px;
      left: -160px;
    }
  }

  @media#{$min640w} {
    &._tim {
      top: 100px;
    }

    &._steve {
      top: 30px;
      left: 220px;
    }

    &._eric {
      top: 190px;
      left: 110px;
    }
  }
}
