
.row {

  &._ticker {
    grid-template-columns: 100px 200px 100px;
    grid-column-gap: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    display: grid;

    + .row {
      border-top: 2px solid black;
    }
  }

  &._index {
    grid-template-columns: 2fr 4fr 8fr 4fr;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: grid;

    + .row {
      border-top: 2px solid black;
    }
  }

  &._input {
    border-bottom: 1px #ddd solid;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #aaa;
  }

  &._textarea {
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;

    textarea {
      height: 196px;
      padding: 0;

      @media#{$min640w} {
        height: 236px;
      }
    }
  }

  &._submit {
    padding-bottom: 20px;
    padding-right: 20px;
    direction: rtl;
    display: grid;
  }

  &._cv {
    display: grid;

    @media#{$max719w} {
      border-bottom: 1px solid black;
    }

    @media#{$min720w} {
      grid-template-columns: repeat(3,1fr);
      padding-bottom: 20px;
      grid-row-gap: 10px;
      padding-top: 20px;

      + ._cv {
        border-top: 1px solid black;
      }
    }
  }

  &._projects, &._jobs, &._skills, &._school {
    @media#{$max719w} {
      display: none;
    }
  }

  &._download {
    justify-content: center;
    padding-bottom: 20px;
    grid-row-gap: 10px;
    padding-top: 20px;

    @media#{$max719w} {
      border-bottom: none;
    }
    @media#{$min720w} {
      display: none;
    }
  }

  &._split {
    grid-column-gap: 20px;
    display: grid;
    width: 100%;

    @media#{$min640w} {
      grid-template-columns: repeat(2,1fr);
    }
  }

  &._notes {
    max-width: 920px;
    padding: 40px;
  }

  &._project {
    + .row {
      margin-top: 20px;
    }
  }

  &._paginate {
    grid-template-columns: repeat(3,1fr);
    padding-bottom: 40px;
    text-align: center;
    padding-top: 40px;
    display: grid;
  }
}
