
.row {

  &._results {
    padding: 4px 8px;

    &:nth-of-type(1) {
      background-color: rgba(0,0,0,0.1);
    }
  }

  &._trello {
    &.--bottom {
      justify-content: flex-start;
      grid-auto-flow: column;
      grid-column-gap: 6px;
      font-size: 12px;
      display: grid;
    }
  }

  &._ticker {
    grid-template-columns: 1fr 2fr;
    text-decoration: none;
    grid-column-gap: 10px;
    border: 2px solid;
    display: grid;
    padding: 10px;

    @media#{$min720w} {
      grid-template-columns: 8fr 15fr 12fr;
      grid-column-gap: 20px;
    }

    + .row {
      margin-top: -2px;
    }
  }

  &._index {
    position: relative;
    display: grid;
    z-index: 2;

    @media#{$min640w} {
      grid-template-columns: 10fr 20fr 70fr;
      grid-auto-flow: column;
      grid-column-gap: 20px;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }

  &._input {
    border-bottom: 1px #ddd solid;
    justify-content: flex-start;
    grid-auto-flow: column;
    grid-column-gap: 12px;
    align-content: center;
    padding-bottom: 12px;
    padding-top: 12px;
    display: grid;
    color: #aaa;

    @media#{$max719w} {
      padding-left: 12px;
    }
  }

  &._textarea {
    padding: 20px;

    @media#{$min640w} {
      padding: 20px 20px 20px 0;
    }
  }

  &._submit {
    padding-bottom: 24px;
    padding-right: 24px;
    direction: rtl;
    display: grid;
  }

  &._cv {
    display: grid;

    @media#{$max719w} {
      border-bottom: 1px solid black;
    }

    @media#{$min720w} {
      grid-template-columns: repeat(3,1fr);
      padding-bottom: 20px;
      grid-row-gap: 10px;
      padding-top: 20px;

      + ._cv {
        border-top: 1px solid black;
      }
    }
  }

  &._projects, &._jobs, &._skills, &._education {
    @media#{$max719w} {
      display: none;
    }
  }

  &._download {
    justify-content: center;
    padding-bottom: 20px;
    grid-row-gap: 10px;
    padding-top: 20px;

    @media#{$max719w} {
      border-bottom: none;
    }
    @media#{$min720w} {
      display: none;
    }
  }

  &._project {
    &.--notes {
      grid-template-columns: minmax(240px,640px);
      justify-content: center;
      font-size: 18px;
      padding: 40px;
      display: grid;
    }

    + .row._project {
      margin-top: 20px;
    }
  }

  &.--split {
    display: grid;

    @media#{$max639w} {
      grid-row-gap: 20px;
    }

    @media#{$min640w} {
      grid-template-columns: repeat(2,1fr);
      grid-column-gap: 20px;
    }

    &.--canvas {
      @media#{$max639w} {
        grid-row-gap: 40px;
      }
    }
  }

  &._paginate {
    justify-content: center;
    text-align: center;
    font-size: 21px;
    grid-gap: 20px;
    padding: 40px;
    display: grid;

    @media#{$min720w} {
      grid-template-columns: repeat(3,200px);
      padding-bottom: 60px;
      padding-top: 60px;
    }
  }
}
