
.split {
  position: relative;
  display: grid;

  &._left {
    justify-content: flex-start;
  }

  &._right {
    justify-content: flex-end;

    &.--header {
      grid-auto-flow: column;
      align-items: center;
      grid-gap: 40px;
    }
  }
}
