
.split {

  &._left {
    justify-content: flex-start;
    position: relative;

    &.--toolbar {
      display: grid;
      justify-content: flex-end;
      grid-auto-flow: column;
      grid-column-gap: 20px;
      direction: rtl;
    }

    &.--desktop {
      direction: ltr;
      display: grid;
      top: -220px;
      z-index: 2;

      @media#{$min720w} {
        top: 0px;
      }
    }
  }

  &._right {
    justify-content: flex-end;
    position: relative;
    display: grid;

    &.--header {
      grid-auto-flow: column;
      align-items: center;
      grid-gap: 30px;
    }

    &.--toolbar {
      grid-auto-flow: column;
      align-items: center;
      grid-gap: 10px;
    }

    &.--desktop {
      grid-template: auto / repeat(2,auto);
      justify-content: flex-start;
      align-content: flex-start;
      direction: rtl;
      grid-gap: 20px;
      display: grid;
      z-index: 1;
    }
  }
}
