
svg {

  &#logo {
    transform: scale(1.1);
  }

  &#search {
    transform: scale(1.1);
  }

  &#burger {
    transform: scale(1.1);
  }

  &#wifi {
    stroke: darken($teal,15%);
    transform: scale(1.1);
  }

  &#cover {
    position: absolute;
    @include shadow;
    @include zero;
  }

  &#send {
    stroke: black;
  }

  @include svg_nav(black);

  &.--nyo {
    @include svg_nav(white);
  }
}

.svg {

  &._hero {
    place-content: center;
    @include zero();
    cursor: pointer;
    display: grid;
    z-index: 1;
  }

  &._submit {
    width: 54px;
    fill: $coal;
  }
}
