
svg {

  &#paul {
    @extend %center;
    z-index: 2;
    opacity:0;
  }

  &#makes, &#makes2 {
    @extend %center;
    z-index: 2;
    opacity:0;
  }

  &#shapes {
    @extend %center;
    z-index: 2;
    opacity:0;
  }

  &#squiggle {
    @extend %center;
    // transform:
    //   translateY(-15%)
    //   translateX(5%)
    //   rotate(-20deg)
    //   scale(0.7);
    opacity:0;
  }

  &#twizzle {
    @extend %center;
    transform:
      translateY(-20%)
      translateX(-400%)
      scale(0.7);
    opacity:0;
  }

  &#bizzle {
    @extend %center;
    transform:
      translateX(130%)
      translateY(-50%)
      scale(0.7);
    opacity:0;
  }

  &#fizzle {
    @extend %center;
    transform:
      translateX(80%)
      translateY(-50%)
      scale(0.7);
    opacity:0;
  }

  &#man {
    @extend %center;
    transform:
      translateX(250%)
      translateY(-90%)
      scale(0.7);
    opacity:0;
  }

  &#hand {
    @extend %center;
    transform:
      translateX(80%)
      translateY(100%)
      scale(0.7);
    opacity:0;
  }

  &#cover {
    position: absolute;
    @include shadow;
    @include zero;
  }

  &#send {
    stroke: black;
  }

  @include svg_nav(black);
}

.svg {

  &._hero {
    place-content: center;
    @include zero();
    cursor: pointer;
    display: grid;
    z-index: 1;
  }

  &._submit {
    width: 54px;
    fill: $coal;
  }
}
