
@include svg_nav(black);

%svg {
  &_squiggle {
    &1 {
      path {
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        stroke-linecap: round;
        stroke-width: 36;
        stroke: white;
        fill: none;
      }
    }
    &2 {
      path {
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        stroke-linecap: round;
        stroke-width: 24;
        fill: none;
      }
    }
  }
}

svg {

  &#squiggle {
    &1 {
      @extend %center;
      @extend %svg_squiggle1;
      top: 20%;
    }
    &2 {
      @extend %center;
      @extend %svg_squiggle2;
      left: 40%;
      top: 50%;
    }

    &3 {
      @extend %center;
      @extend %svg_squiggle2;
      left: -25%;
      top: 0;
    }
  }

  &#cover {
    position: absolute;
    @include shadow;
    @include zero;
  }

  &#send {
    stroke: black;
  }
}
