.tag {

  &._trello {
    background-color: darken(white,16%);
    padding: 3px 6px 3px 6px;
    letter-spacing: normal;
    border-radius: 6px;
    font-weight: 600;
    color: white;

    &.--date {
      background-color: $trelloGreen;
    }

    &.--animation {
      background-color: $trelloBlue;
    }

    &.--website {
      background-color: $trelloRed;
    }

    &.--branding {
      background-color: $trelloOrange;
    }

    &.--member {
      color: darken(white,64%);
    }
  }

  &._email {
    padding: 4px 10px 4px 8px;
    background-color: $sky;
    border-radius: 3px;
    color: $coal;
  }
}
