
.title {

  &._category {
    text-transform: capitalize;
  }

  &._folder {
    color: rgba(black,0.4);
    text-align: center;
    font-size: 16px;
  }

  &._city {
    letter-spacing: 0.05em;
    color: rgba(black,0.4);
    font-weight: bold;
  }

  &._staff {
    @media#{$min640w} {
      display: inline;
    }
  }

  &._menu {
    text-align: center;
    padding: 10px 30px;
    font-size: 32px;
    opacity: 0;
  }

  &._email {
    align-self: center;
    display: grid;

    &.--to {
      padding-top: 2px;
    }
  }

  &._ticker {
    font-weight: 600;
    display: grid;

    &.--date {
      font-weight: 400;
    }

    &.--project {
      font-weight: 400;
      display: none;

      @media#{$min720w} {
        display: grid;
      }
    }
  }

  &._index {
    align-self: center;
    display: grid;

    &.--title {
      font-weight: 600;
    }

    &.--format {
      text-transform: capitalize;
    }
  }

  &._cv {

    &-jobs {
      &.--boss {
        font-weight: 600;
      }
      &.--role {
        text-transform: capitalize;
      }
    }

    &-project {
      &.--title {
        font-weight: 600;
      }
      &.--format {
        text-transform: capitalize;
      }
    }

    &-education {
      &.--school {
        font-weight: 600;
      }
    }

    &._bio, &._projects, &._jobs, &._skills, &._education {
      padding-bottom: 5px;
    }

    &._title {
      font-weight: 600;
    }
    &._boss {
      font-weight: 600;
    }
    &._school {
      font-weight: 600;
    }
  }

  &._load {
    padding-bottom: 20px;
  }

  &._bio {
    font-weight: 600;
    font-size: 21px;

    @media#{$max719w} {
      display: none;
    }
  }

  &._name {
    font-weight: 600;
    font-size: 36px;
  }

  &._projects {
    grid-column: span 3;
    font-weight: 600;
    font-size: 21px;
  }

  &._jobs {
    grid-column: span 3;
    font-weight: 600;
    font-size: 21px;
  }

  &._skills {
    grid-column: span 3;
    font-weight: 600;
    font-size: 21px;
  }

  &._sub {
    font-weight: normal;
    margin-left: 5px;
    font-size: 16px;
    color: $gun;
  }

  &._education {
    grid-column: span 3;
    font-weight: 600;
    font-size: 21px;
  }

  &._search {
    border-bottom: 2px solid;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    font-size: 40px;
  }
}
