
.title {

  &._ticker {
    align-self: center;
    display: grid;

    &._title {
      font-weight: 600;
    }
  }

  &._index {
    align-self: center;
    display: grid;

    &._title {
      font-weight: 600;
    }
  }

  &._cv {
    &._title {
      font-weight: 600;
    }
    &._boss {
      font-weight: 600;
    }
    &._school {
      font-weight: 600;
    }
  }

  &._load {
    padding-bottom: 20px;
  }

  &._bio {
    font-weight: 600;
    font-size: 21px;

    @media#{$max719w} {
      display: none;
    }
  }

  &._name {
    font-weight: 600;
    font-size: 36px;
  }

  &._projects {
    grid-column: span 3;
    font-weight: 600;
    font-size: 21px;
  }

  &._jobs {
    grid-column: span 3;
    font-weight: 600;
    font-size: 21px;
  }

  &._skills {
    grid-column: span 3;
    font-weight: 600;
    font-size: 21px;
  }

  &._sub {
    font-weight: normal;
    margin-left: 5px;
    font-size: 16px;
    color: $gray;
  }

  &._education {
    grid-column: span 3;
    font-weight: 600;
    font-size: 21px;
  }

  &._search {
    font-weight: 700;
  }

  + p {
    margin-top: 20px;
  }
}
