
.topbar {
  height: 40px;

  &._desktop {
    background-color: rgba(0,0,0,.05);
    padding-right: 10px;
    padding-left: 10px;
    display: grid;
  }

  &._email {
    justify-content: flex-start;
    background-color: $gray;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    align-content: center;
    padding-right: 10px;
    padding-left: 10px;
    display: grid;
  }

  &._popup {
    justify-content: flex-start;
    background-color: $gray;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    align-content: center;
    padding-right: 10px;
    padding-left: 10px;
    display: grid;

    &._tim {
      background-color: $dodger;
    }

    &._eric {
      background-color: $pink;
    }
  }
}
