
.visual {
  place-items: center;
  display: grid;
  width: 100%;

  img {
    max-width: 100%;
    grid-area: 1 / 1;
  }

  &._push {

    &--mob {
      @media#{$max639w} {
        padding: 0 30px 30px 30px;
      }
    }
  }

  .frame {
    border: 2px black solid;

    @media#{$min640w} {
      align-items: center;
      display: grid;
      height: 100%;
    }
  }

  &._demo {

    &._black {
      background-color: black;
    }

    &._gold {
      background-color: $NYOgold;
    }

    &._red {
      background-color: $NYOred;
    }

    &._green {
      background-color: $NYOgreen;
    }

    &._blue {
      background-color: $NYOblue;
    }
  }

  &._switch {
    grid-template-columns: repeat(5,1fr);
    grid-auto-flow: column;
    grid-column-gap: 10px;
    margin-top: 10px;
    display: grid;

    @media#{$min640w} {
      grid-column-gap: 20px;
      margin-top: 20px;
    }

    .color {
      cursor: pointer;
      height: 40px;
      width: 100%;

      &._black {
        background-color: black;
      }

      &._gold {
        background-color: $NYOgold;
      }

      &._red {
        background-color: $NYOred;
      }

      &._green {
        background-color: $NYOgreen;
      }

      &._blue {
        background-color: $NYOblue;
      }
    }
  }
}
