
.window {
  background-color: $gray;
  transition: left 500ms;
  border-radius: 3px;
  position: absolute;
  min-height: 200px;
  overflow: hidden;
  @include shadow;
  display: none;
  width: 280px;

  &.--open {
    display: block;
  }

  &:nth-of-type(1) {
    background-color: $coral;
    left: -220px;
    top: 40px;
  }

  &:nth-of-type(2) {
    background-color: $spotify;
    left: -80px;
    top: 300px;
  }

  &:nth-of-type(3) {
    left: -160px;
    top: 160px;
  }

  @media#{$min720w} {

    &:nth-of-type(1) {
      top: 80px;
      left: 0;
    }

    &:nth-of-type(2) {
      top: 40px;
      left: 200px;
    }

    &:nth-of-type(3) {
      top: 160px;
      left: 120px;
    }
  }
}
