
.window {
  transition: left 500ms;
  border-radius: 3px;
  position: absolute;
  height: 240px;
  width: 240px;

  &:nth-of-type(1) {
    background-color: $coral;
    left: -120px;
  }

  &:nth-of-type(2) {
    background-color: $dodger;
    top: 80px;
    left: -20px;
  }

  &:nth-of-type(3) {
    background-color: $gray;
    top: 180px;
    left: -100px;
  }

  @media#{$min720w} {
    height: 300px;
    width: 300px;

    &:nth-of-type(1) {
      left: 0;
    }

    &:nth-of-type(2) {
      top: -70px;
      left: 160px;
    }

    &:nth-of-type(3) {
      top: 80px;
      left: 80px;
    }
  }
}
