
.wrap {

  &.--block {
    margin-right: auto;
    margin-left: auto;
  }

  &._search {
    max-width: 440px;
    width: 100%;
  }

  &._header {
    grid-template-columns: repeat(2,1fr);
  }

  &._bar {
    grid-auto-flow: column;
    color: rgba(0,0,0,0.4);
  }

  &._canvas {
    @media#{$min720w} {
      grid-auto-flow: column;
      direction: rtl;
    }
  }

  &._email {
    border-radius: 3px 3px 0 0;
    background-color: white;
    overflow: hidden;
    @include shadow($d:0.1);
  }

  &._input {
    grid-auto-flow: column;
    grid-column-gap: 8px;
    display: inline-grid;
    align-items: center;
  }

  &._footer {
    grid-column-gap: 20px;
    display: inline-grid;
    grid-row-gap: 5px;

    @media#{$min640w} {
      grid-auto-flow: column;
    }
  }

  &._cv {
    padding-right: 40px;
    padding-left: 40px;

    @media#{$min720w} {
      background-color: white;
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }
}
