
.wrap {
  @extend %wrap_grid;

  &._header {
    grid-template-columns: repeat(2,1fr);
    @extend %wrap_grid;
  }

  &._toolbar {
    grid-auto-flow: column;
    color: rgba(black,0.4);
    @extend %wrap_grid;
  }

  &._desktop {
    @extend %wrap_grid;
    @media#{$min720w} {
      grid-auto-flow: column;
      direction: rtl;
    }
  }

  &._email {
    border-radius: 3px 3px 0 0;
    background-color: white;
    @extend %wrap_grid;
    overflow: hidden;
    @include shadow(3px,0.1);
  }

  &._search {
    max-width: 440px;
    width: 100%;
  }

  &._input {
    grid-auto-flow: column;
    grid-column-gap: 8px;
    display: inline-grid;
    align-items: center;
  }

  &._footer {
    grid-column-gap: 20px;
    display: inline-grid;
    grid-row-gap: 5px;

    @media#{$min640w} {
      grid-auto-flow: column;
    }
  }

  &._resume {
    padding-right: 40px;
    padding-left: 40px;

    @media#{$min720w} {
      background-color: white;
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }
}
