
<div class="area _blog">

  <div class="wrap _blog">

    <div class="block _blog-title">
      {{ page.desc }}
    </div>

    <div class="block _blog-content">
      {{ page.content }}
    </div>

  </div>

</div>
