
<div class="block _paginate">

  <div class="wrap _paginate">

    <a href="#" class="lnk _paginate-prev"></a>

    <a href="/{{ page.collection }}" class="lnk _paginate-index">
      Index
    </a>

    <a href="#" class="lnk _paginate-next"></a>

  </div>

</div>
