---
---

@import
  "normalize.css",
  "barbs",
  "helpers",
  "base",
  "area",
  "body",
  "btn",
  "bar",
  "canvas",
  "copy",
  "title",
  "entry",
  "folder",
  "input",
  "overlay",
  "html",
  "layout",
  "left",
  "lnk",
  "min",
  "pop",
  "popup",
  "right",
  "row",
  "site",
  "svg",
  "topbar",
  "visual",
  "window",
  "wrap",
  "video"
;

h1 + p {
  margin-top: 20px;
}

.exit {
  position: fixed;
  @include zero();
  cursor: pointer;
  z-index: 1;
}

.strike {
  position: relative;
  z-index: -1;
  background-color: $coal;
  height: 3px;
  width: 100%;
}

.desc {
  @media#{$max639w} {
    display: none;
  }
}

.tag {
  background-color: $sky;
  border-radius: 3px;
  padding: 4px 10px 4px 8px;
  color: $coal;
}

.project {
  padding-top: 120px;
}

// THEME UPDATES

button {
  background-color: transparent;
  color: inherit;
}
