---
---

@import
  "normalize.css",
  "barbs",
  "helpers",
  "base",
  "area",
  "body",
  "btn",
  "copy",
  "entry",
  "folder",
  "html",
  "left",
  "lnk",
  "min",
  "popup",
  "right",
  "row",
  "svg",
  "topbar",
  "visual",
  "window",
  "wrap"
;

.canvas {
  @media#{$max639w} {
    padding: 40px;
  }

  @media#{$min640w} {
    border: 2px solid black;
    align-items: center;
    display: grid;
  }
}

._border {
  &--mob {
    @media#{$max639w} {
      border: 2px solid black;
    }
  }
}

.strike {
  position: relative;
  z-index: -1;
  background-color: black;
  height: 3px;
  width: 100%;
}

.site {
  min-height: 600px;

  &._full {
    height: 100%;
  }
}

.desc {
  @media#{$max639w} {
    display: none;
  }
}

.input {
  border-bottom: 1px #ddd solid;
  color: #aaa;
}

.tag {
  background-color: $sky;
  border-radius: 3px;
  padding: 5px 10px;
  color: black;
}

.title {
  padding-right: 10px;
}

.project {
  padding-top: 120px;
}

.submit {

  &._email {
    padding-bottom: 20px;
    padding-right: 20px;
    direction: rtl;
    display: grid;
  }
}

// THEME UPDATES

button {
  background-color: transparent;
  color: inherit;
}
