
<div class="block _desktop-topbar">
  <div class="wrap _desktop-topbar">
    <div class="block _city"></div>
    <div class="block _wifi">
      wifi
    </div>
    <div class="block _time"></div>
  </div>
</div>
