
<div class="block _header">
  <div class="wrap _header">
    <div class="block _logo">
      <a href="/">wemade</a>
    </div>
    <div class="btn _nav --search">
      search
    </div>
    <div class="btn _nav --browse">
      menu
    </div>
  </div>
</div>
