<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js">

  {% include html/head.html %}

  <body class="layout-page {{ page.url | replace: '/',' _' | replace: '.html','' }} {% if page.chapter %}_chapter{% endif %} {% if page.topic %}_topic{% endif %} _mobile">

    {% include html/load.html %}

    <div class="site _full" style="opacity:0;">

      {% if site.header %}
      <header>
        {{ site.header }}
      </header>
      {% endif %}

      {% include html/page-default.html %}

      {% if site.footer %}
      <footer>
        {{ site.footer }}
      </footer>
      {% endif %}

    </div>

  </body>

  {% include html/scripts.html %}

</html>
