
<nav class="topbar">
  <div>

    <div class="nav-left">
      <a class="btn-nav _back">
        {% include svg/back.svg %}
      </a>
      <div class="btn-nav _about">
        {% include svg/about.svg %}
      </div>
      <div class="btn-nav _browse">
        {% include svg/browse.svg %}
      </div>
    </div>

    <div class="nav-main">
      {% assign loop = site.collections | sort: 'weight' %}
      {% for collection in loop %}
      {% unless collection.label == 'posts' or collection.label == 'uploads' %}
      <div><a class="nav-main-lnk {{ collection.label | downcase | prepend: '_' }}" href="{{ collection.label | prepend: '/' }}">{{ collection.label }}</a></div>
      {% endunless %}
      {% endfor %}
    </div>

    <div class="nav-right">

      <div id="focus" class="btn-nav _search">
        {% include svg/search.svg %}
      </div>

      <div class="btn-nav _cart">
        {% include svg/cart.svg %}
      </div>

      <div class="btn-nav _cart">
        <strong class="count">0</strong>
      </div>
    </div>

  </div>
</nav>
