<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js">

  {% include html/head.html %}

  <body class="layout-topic {{ page.collection | prepend: '_' }} _mobile">

    {% include html/load.html %}

    <div class="site{% if page.topic %} _topic{% endif %}{% if page.chapter %} _chapter{% endif %}" style="opacity:0;">

      {% if site.header %}
      <header>
        {{ site.header }}
      </header>
      {% endif %}

      {% include html/topbar.html %}
      {% include html/loop-topic.html %}
      {% include html/menu-cart.html %}
      {% include html/menu-about.html %}
      {% include html/menu-search.html %}
      {% include html/menu-browse.html %}

      {% if site.footer %}
      <footer>
        {{ site.footer }}
      </footer>
      {% endif %}

    </div>

  </body>

  {% include html/scripts.html %}

</html>
