
<div class="area _header">
  <div class="wrap _header">
    <div class="left _header">
      <a class="home_link" href="/">
        {% include svg/logo.svg %}
      </a>
    </div>
    <div class="right _header">
      {% if page.layout == 'nyo'
         or page.layout == 'play'
         or page.layout == 'harlem' 
      %}
      <a class="text_jump" href="#skip">Text</a>
      {% else %}
      {% endif %}
      <div class="menu-lnk" style="background-color:transparent;">
        {% include svg/menu.svg %}
      </div>
    </div>
  </div>
</div>
