
<div class="area _email">
  <div class="wrap _email --grid">
    <div class="bar _email">
      <div class="btn _email --close"></div>
      <div class="btn _email --min"></div>
    </div>
    <form class="form _email" name="contact" method="POST" netlify>

      <div class="row _input">
          <div class="title _email --to">To</div>
          <div class="tag _email">hello@wemade.design</div>
      </div>

      <div class="row _input">
          <div class="title _email">Subject</div>
          <input class="input _text --subject" name="subject" type="text" value="Online Enquiry"/>
      </div>

      <div class="row _input">
        <div class="title _email">From</div>
        <input class="input _email" name="email" type="email" placeholder="paulheading@me.com"/>
      </div>

      <div class="row _textarea">
        <textarea class="textarea _email" name="message"></textarea>
      </div>

      <div class="row _submit">
        <button class="btn" type="submit">
          {% include svg/submit.svg %}
        </button>
      </div>

    </form>
    </div>
  </div>
