
<a class="area _hero">
  <div class="wrap _hero">
    <div class="svg _hero">
      {% include svg/paul/hero.svg %}
    </div>
    <div class="copy _hero">
      <span class="word"></span>
      <span class="word"></span>
      <span class="word"></span>
      <span class="word"></span>
      <span class="word"></span>
      <span class="word"></span>
      <span class="word"></span>
      <span class="word"></span>
      <span class="word"></span>
      <span class="word"></span>
    </div>
  </div>
</a>
