
{% assign next = page.ref | plus: 1 %}
{% assign prev = page.ref | minus: 1 %}
{% assign loop = site.projects %}

<div class="block _paginate">
  {% for thing in loop %}
  {% if thing.ref == prev %}
  <a class="lnk _paginate --prev" href="{{ thing.url | replace: '.html','' }}">
    {% include svg/prev.svg %}
  </a>
  {% endif %}
  {% endfor %}
  <a href="#text" class="lnk _paginate --text">Text</a>
  {% for thing in loop %}
  {% if thing.ref == next %}
  <a class="lnk _paginate --next" href="{{ thing.url | replace: '.html','' }}">
    {% include svg/next.svg %}
  </a>
  {% endif %}
  {% endfor %}
</div>
