
<div class="area _desktop">
  <div class="bar _desktop">
    <div class="wrap _bar">
      <div class="btn _desktop --min"></div>
      <div class="btn _desktop --min"></div>
      <div class="btn _desktop --min"></div>
    </div>
  </div>
  <div class="area _canvas">
    <div class="wrap _canvas">
      <div class="folders">
        <div class="folder"></div>
        <div class="folder"></div>
        <div class="folder"></div>
      </div>
      <div class="windows">
        <div class="window">
          <div class="bar _window">
            <div class="btn _window --close"></div>
            <div class="btn _window --min"></div>
          </div>
        </div>
        <div class="window">
          <div class="bar _window">
            <div class="btn _window --close"></div>
            <div class="btn _window --min"></div>
          </div>
        </div>
        <div class="window">
          <div class="bar _window">
            <div class="btn _window --close"></div>
            <div class="btn _window --min"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
