
<div class="area _toolbar">
  <div class="wrap _toolbar">
    <div class="col _icons"></div>
    <div class="col _city --toolbar">
      <div class="title _city">
        London
      </div>
    </div>
    <div class="col _wifi --toolbar">
      {% include svg/wifi.svg %}
    </div>
    <div class="col _clock --toolbar">
      <div class="area _clock">
        <div class="copy _clock --day"></div>
        <div class="copy _clock --time">
          <span class="copy _clock --hrs"></span>
          <span class="copy _clock --dots">:</span>
          <span class="copy _clock --mins"></span>
        </div>
      </div>
    </div>
  </div>
</div>
