
<div class="area _desktop">
  <div class="bar _desktop">
    <div class="wrap _bar --grid"></div>
  </div>
  <div class="area _canvas">
    <div class="wrap _canvas --grid">
      <div class="split _right --desktop">
        <div class="folder _tom --open"></div>
        <div class="folder _dick --open"></div>
        <div class="folder _harry --open"></div>
      </div>
      <div class="split _left --desktop">
        <div class="window _tom">
          <div class="bar _window">
            <div class="btn _window --close"></div>
            <div class="btn _window --min"></div>
          </div>
        </div>
        <div class="window _dick">
          <div class="bar _window">
            <div class="btn _window --close"></div>
            <div class="btn _window --min"></div>
          </div>
        </div>
        <div class="window _harry">
          <div class="bar _window">
            <div class="btn _window --close"></div>
            <div class="btn _window --min"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
