
<div class="area _email">
  <div class="wrap _email">
    <div class="topbar _email">
      <div class="btn _close"></div>
      <div class="btn _min"></div>
    </div>
    <div class="window _email">
      <div class="input">
        <div class="copy _input">
          <span class="title">To:</span>
          <span class="tag">
            hello@wemade.design
          </span>
        </div>
      </div>
      <div class="input">
        <div class="copy _input"><span class="title">Subject:</span>Online Enquiry</div>
      </div>
      <div class="input">
        <div class="copy _input"><span class="title">From:</span>paulheading@me.com</div>
      </div>
      <div class="copy _email">
        test copy
      </div>
    </div>
  </div>
</div>
