
<div class="area _hero">
  <div class="wrap _hero">
    <div class="copy _hero">
      <div class="svg">
        <!-- include svg/heroV2.svg %} -->
      </div>
      <div class="words">
        <div class="typewriter">
          <!-- <span class="type"></span>
          <span class="type"></span>
          <span class="type"></span>
          <span class="type"></span>
          <span class="type"></span>
          <span class="type"></span>
          <span class="type"></span>
          <span class="type"></span>
          <span class="type"></span>
          <span class="type"></span> -->
        </div>
      </div>
    </div>
  </div>
</div>
