
<div class="area _hero">
  <div class="wrap _hero">
    <div class="copy _hero">
      <div class="svg">
        {% include svg/heroV3.svg %}
      </div>
      <div class="words">
        <div class="typewriter">
          <span class="write"></span>
          <span class="write"></span>
          <span class="write"></span>
          <span class="write"></span>
          <span class="write"></span>
          <span class="write"></span>
          <span class="write"></span>
          <span class="write"></span>
          <span class="write"></span>
          <span class="write"></span>
        </div>
      </div>
    </div>
  </div>
</div>
