
<div class="area _hero">
  <div class="wrap _hero">
    <div class="copy _hero">
      <span class="word"></span>
      <span class="word"></span>
      <span class="word"></span>
      <span class="word"></span>
      <span class="word"></span>
      <span class="word"></span>
      <span class="word"></span>
      <span class="word"></span>
      <span class="word"></span>
      <span class="word"></span>
    </div>
    {% include svg/blob.svg %}
    {% include svg/left.svg %}
    {% include svg/right.svg %}
  </div>
</div>
