
<div class="area _jobs">
  <div class="wrap _jobs">
    <div class="row">
      <div class="date">may 17</div>
      <div class="type">website</div>
      <div class="name">montagu.es</div>
      <div class="desc">wordpress site</div>
    </div>
    <div class="row">
      <div class="date">may 17</div>
      <div class="type">website</div>
      <div class="name">montagu.es</div>
      <div class="desc">wordpress site</div>
    </div>
    <div class="row">
      <div class="date">may 17</div>
      <div class="type">website</div>
      <div class="name">montagu.es</div>
      <div class="desc">wordpress site</div>
    </div>
    <div class="row">
      <div class="date">may 17</div>
      <div class="type">website</div>
      <div class="name">montagu.es</div>
      <div class="desc">wordpress site</div>
    </div>
  </div>
</div>
