
<div class="area _jobs">
  <div class="wrap _jobs">
    <div class="strike"></div>
    <div class="row _job">
      <div class="date">May 17</div>
      <div class="type">Website</div>
      <div class="name">Montagu.es</div>
      <div class="desc">Wordpress site</div>
    </div>
    <div class="row _job">
      <div class="date">May 17</div>
      <div class="type">Website</div>
      <div class="name">Montagu.es</div>
      <div class="desc">Wordpress site</div>
    </div>
    <div class="row _job">
      <div class="date">May 17</div>
      <div class="type">Website</div>
      <div class="name">Montagu.es</div>
      <div class="desc">Wordpress site</div>
    </div>
    <div class="row _job">
      <div class="date">May 17</div>
      <div class="type">Website</div>
      <div class="name">Montagu.es</div>
      <div class="desc">Wordpress site</div>
    </div>
  </div>
</div>
