
<div class="list _desktop">
  {% assign loop = site.projects | sort: 'date' | reverse %}
  {% for item in loop %}
  {% if item.staff contains 'chloe, paul' %}
  <a href="{{ item.id }}" class="lnk _trello">
    <div class="item _trello">
      <div class="wrap _trello">
        <div class="row _trello --middle">{{ item.title }}</div>
        <div class="row _trello --bottom"><div class="tag _trello --date">{{ item.date | date: "%b %y" }}</div><div class="tag _trello{{ item.project | downcase | prepend: ' --' }}">{{ item.project }}</div><div class="tag _trello --member">CI</div><div class="tag _trello --member">PH</div></div>
      </div>
    </div>
  </a>
  {% endif %}
  {% endfor %}
</div>
