
{% for item in loop %}
  {% if item.staff contains name %}
  <a href="{{ item.id }}" class="lnk _index">
    <div class="row _index">
      <div class="title _index _date">
        {{- item.date | date: "%b %y" | append: '–' -}}
        {%- if item.end -%}
          {{- item.end | date: "%b %y" -}}
        {%- else -%}
          {{- site.time | date: "%b %y" -}}
        {%- endif -%}
      </div>
      <div class="entry _index">
        <div class="title _index _project">
          {{ item.title }}
        </div>
        <div class="title _index _format">
          {{ item.project }}
        </div>
      </div>
      <div class="title _index _desc">
        {{ item.desc | truncate: 125 }}
      </div>
    </div>
    <img class="_thumb" src="{{ item.title | downcase | replace: ' ','' | prepend: '/assets/img/' | append: '/index.jpg' }}" alt="1">
  </a>
  {% endif %}
{% endfor %}
