{% for item in loop | limit: 3 %}
  <a href="{{ item.id }}" class="row _index">
    <div class="title _index _date">
      {{ item.date | date: "%b %y" | append: '–' }}{{ item.end | date: "%b %y" }}
    </div>
    <div class="entry _index">
      <div class="title _index _title">
        {{ item.title }}
      </div>
      <div class="title _index _project">
        {{ item.project }}
      </div>
    </div>
    <div class="title _index _desc">
      {{ item.desc | truncate: 125 }}
    </div>
  </a>
{% endfor %}
