
{% if page.tags contains 'staff' %}

<h1>
  <strong>
    This is <div class="title _staff">{{ page.title }}</div>
  </strong>
</h1>

{% endif %}

{{ content }}

{% if page.tags contains 'index' %}
{% assign loop = site.projects | sort: 'date' | reverse %}
{% if page.tags contains 'staff' %}
{% assign name = page.title | downcase %}
{% else %}
{% assign name = 'chloe, paul' %}
{% endif %}

<div class="area _index">
  <div class="wrap _index">
    {% include html/loop-index.html %}
  </div>
</div>

{% endif %}
