
<script src="{{ "/assets/js/vendor/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/vendor/tweenmax.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/vendor/futuro-load.js" | relative_url }}"></script>
<script src="{{ "/assets/js/vendor/futuro-scroll.js" | relative_url }}"></script>

<script src="{{ "/assets/js/vendor/drawsvg.js" | relative_url }}"></script>
<script src="{{ "/assets/js/vendor/textplugin.js" | relative_url }}"></script>
<script src="{{ "/assets/js/vendor/draggable.js" | relative_url }}"></script>
<script src="{{ "/assets/js/vendor/morphsvg.js" | relative_url }}"></script>

<script src="{{ "/assets/js/overlay.js" | relative_url }}"></script>
<script src="{{ "/assets/js/desktop.js" | relative_url }}"></script>
<script src="{{ "/assets/js/trello.js" | relative_url }}"></script>
<script src="{{ "/assets/js/clock.js" | relative_url }}"></script>
<script src="{{ "/assets/js/logo.js" | relative_url }}"></script>

{% if page.title == 'Home' %}
<script src="{{ "/assets/js/hero.js" | relative_url }}"></script>
{% endif %}

<script src="{{ "/assets/js/script.js" | relative_url }}"></script>
