
<script src="{{ "/assets/js/vendor/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/vendor/enquire.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/vendor/tweenmax.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/vendor/scrollmagic.js" | relative_url }}"></script>
<script src="{{ "/assets/js/vendor/scrollmagic-gsap.js" | relative_url }}"></script>
<script src="{{ "/assets/js/vendor/morphsvg.js" | relative_url }}"></script>
<script src="{{ "/assets/js/vendor/draggable.js" | relative_url }}"></script>
<script src="{{ "/assets/js/vendor/textplugin.js" | relative_url }}"></script>

<script src="{{ "/assets/js/vendor/paulh.load.js" | relative_url }}"></script>
<script src="{{ "/assets/js/vendor/paulh.scroll.js" | relative_url }}"></script>

<script src="{{ "/assets/js/scripts.js" | relative_url }}"></script>

{% if page.layout == 'home' %}
<script src="{{ "/assets/js/home.js" | relative_url }}"></script>
{% endif %}

{% if page.url contains 'nyo' %}
<script src="{{ "/assets/js/nyo.js" | relative_url }}"></script>
{% endif %}
