<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js">

  {% include html/head.html %}

  <body class="layout {{ page.title | downcase | prepend: '_' }}">

    {% include html/overlay-load.html %}

    <div class="site _full">

      {% if site.header %}
      <header>
        {{ site.header }}
      </header>
      {% endif %}

      {% include html/area-header.html %}
      {% include html/overlay-menu.html %}

      <div class="area _about">
        <div class="wrap _about">
          {{ content }}
        </div>
        <div class="wrap _ticker">
          {%- if page.title == 'About' -%}
            {% assign loop = site.projects | sort: 'date' | reverse %}
          {%- else -%}
            {% assign staff = page.title | downcase %}
            {% assign loop = site.projects | where: 'staff', staff | sort: 'date' | reverse %}
          {% endif %}
          {%- include html/loop-ticker.html -%}
        </div>
      </div>

      {% include html/area-desktop.html %}
      {% include html/area-email.html %}
      {% include html/area-footer.html %}

      {% if site.footer %}
      <footer>
        {{site.footer}}
      </footer>
      {% endif %}

    </div>

  </body>

  {% include html/scripts.html %}

</html>
