---
layout: mini
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js">

  {% include html/head.liquid %}

  <body class="{{ page.type | prepend: 'type-' }}{% if page.tag %}{{ page.tag | prepend: ' tag-' | downcase }}{% endif %}{{ page.title | prepend: ' title-' | downcase }}">

    {% include html/overlay.liquid title='load' state='open' %}

    {% if page.type == 'overlay' %}
      {% assign dynamic = page.title | downcase %}
      {% include html/overlay.liquid title=dynamic %}
    {% endif %}

    {% unless page.type == 'overlay' %}
      {% include html/overlay.liquid title='about' %}
      {% include html/overlay.liquid title='browse' %}
      {% include html/overlay.liquid title='search' %}

    <div class="site _full">

      {% if site.header %}
      <header>
        {{ site.header }}
      </header>
      {% endif %}

      {% include html/block/header.liquid %}

      {% if page.type == 'work' %}
        {% include html/area/work.liquid %}
        {% include html/block/paginate.liquid %}
      {% elsif page.type == 'index' %}
        {% include html/area/index.liquid %}
        {% include html/block/readmore.liquid %}
      {% elsif page.type == 'blog' %}
        {% include html/area/blog.liquid %}
        {% include html/block/paginate.liquid %}
      {% elsif page.type == 'cv' %}
        {% include html/area/cv.liquid %}
      {% else %}
        {{ content }}
      {% endif %}

      {% include html/block/see.liquid %}

      {% include html/block/marquee.liquid %}

      {% include html/block/desktop-topbar.liquid %}

      <div class="area _desktop">
        <div class="wrap _desktop">
          <div class="block _window-group">
            <div class="block _window"></div>
            <div class="block _window"></div>
            <div class="block _window"></div>
          </div>
          <div class="block _folder-group">
            <div class="block _folder">
              <div class="block _folder-icon"></div>
              <div class="block _folder-title">folder</div>
            </div>
            <div class="block _folder">
              <div class="block _folder-icon"></div>
              <div class="block _folder-title">folder</div>
            </div>
            <div class="block _folder">
              <div class="block _folder-icon"></div>
              <div class="block _folder-title">folder</div>
            </div>
          </div>
        </div>
      </div>

      <div class="area _email">
        <div class="wrap _email">
          <div class="block _form-topbar">
            <div class="wrap _form-topbar">
              <div class="btn _form-exit"></div>
              <div class="btn _form-mini"></div>
            </div>
          </div>
          <div class="block _form">
            <div class="wrap _form">
              <div class="block _form-row">
                <div class="block _to">To</div>
                <div class="block _to-email">hello@wemade.design</div>
              </div>
              <div class="block _form-row">
                <div class="block _subject">Subject</div>
                <div class="block _subject-title">Hey there!</div>
              </div>
              <div class="block _form-row">
                <div class="block _from">From</div>
                <div class="block _from-title">visitor@wemade.design</div>
              </div>
              <div class="block _form-area">message</div>
              <div class="block _form-submit">submit</div>
            </div>
          </div>
        </div>
      </div>

      <div class="block _footer">
        <div class="wrap _footer">
          <div class="block _hello">
            Say hello!
          </div>
          <div class="block _phone">
            +44 7873 156538
          </div>
          <a href="mailto:hello@wemade.design" class="block _email">
            hello@wemade.design
          </a>
        </div>
      </div>

      {% if site.footer %}
      <footer>
        {{ site.footer }}
      </footer>
      {% endif %}

    </div>

    {% endunless %}

  </body>

  {% include html/scripts.liquid %}

</html>
