<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js">

  {% include html/head.html %}

  <body class="layout{{ page.layout | downcase | prepend: ' _' }}{% if page.tags %}{{ page.tags | join: ' --' | replace: ',','' | prepend: ' --' }}{% endif %}">

    {% include html/overlay-load.html %}

    <div class="site _full">

      {% if site.header %}
      <header>
        {{ site.header }}
      </header>
      {% endif %}

      {% include html/area-header.html %}
      {% include html/overlay-search.html %}
      {% include html/overlay-menu.html %}

      <div class="area _content{% if page.collection %}{{ page.collection | downcase | prepend: ' --' }}{% endif %}{% if page.tags %}{{ page.tags | join: ' --' | replace: ',','' | prepend: ' --' }}{% endif %}">
        <div class="wrap _content --grid">
          {% if page.tags contains 'staff' %}
            <h1>
              <strong>
                This is {{ page.title }}
              </strong>
            </h1>
          {% endif %}
          {{ content }}
        </div>
      </div>

      {% if page.tags contains 'index' %}
      <div class="area _index">
        <div class="wrap _index --grid">
          {% if page.tags contains 'staff' %}
            {% assign staff = page.title | downcase %}
            {% assign loop = site.projects | where: 'staff', staff | sort: 'date' | reverse %}
          {% else %}
            {% assign loop = site.projects | sort: 'date' | reverse %}
          {% endif %}
          {%- include html/loop-index.html -%}
          <div class="img _rollover">
            <img class="img _thumb" src="/assets/img/1.jpg" alt="1">
          </div>
        </div>
      </div>
      {% endif %}

      {% include html/area-desktop.html %}
      {% include html/area-email.html %}
      {% include html/area-footer.html %}

      {% if site.footer %}
      <footer>
        {{site.footer}}
      </footer>
      {% endif %}

    </div>

  </body>

  {% include html/scripts.html %}

</html>
