<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js">
<link rel="stylesheet" href="https://use.typekit.net/enw1ksx.css">

  {% include html/head.html %}

  <body class="layout{% if page.collection %}{{ page.collection | downcase | prepend: ' --' }}{% endif %}{% if page.title %}{{ page.title | replace: ' ','' | downcase | prepend: ' --' }}{% endif %}{% if page.tag %}{{ page.tag | join: ' --' | replace: ' ',' --' | prepend: ' --' }}{% endif %}">

  {% include html/overlay.html title='load' state='open' %}
  {% include html/overlay.html title='search' %}
  {% include html/overlay.html title='menu' %}
  {% unless page.type == 'home' %}
    {% include html/area-header.html %}
  {% endunless %}

  <div class="area _content">
    <div class="wrap _content">

      {% if page.type == 'work' %}
        {% include html/layout-work.html %}
      {% else %}
        {{ content }}
      {% endif %}

    </div>
  </div>

  {% include html/area-see.html %}
  {% include html/area-ticker.html %}
  {% include html/area-toolbar.html %}
  {% include html/area-desktop.html %}
  {% include html/area-email.html %}
  {% include html/area-footer.html %}

  </body>

  {% include html/futuro.html %}
  {% include html/scripts.html %}

</html>
