<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js">

  {% include html/head.html %}

  <body class="layout _nyo">

    {% include html/overlay-load.html %}

    <div class="site _full">

      {% if site.header %}
      <header>
        {{ site.header }}
      </header>
      {% endif %}

      {% include html/area-header.html %}
      {% include html/overlay-menu.html %}

      <div class="area _example">
        <div class="wrap _split">
          <div class="canvas" style="padding-top:0;">
            <div class="_border--mob">
              {% include svg/nyo/logo.svg %}
            </div>
          </div>
          <img class="_flex" src="/assets/img/nyo/laptopBW.jpg" alt="">
        </div>
      </div>

      <div class="area _notes" id="skip">
        <div class="wrap _notes">
          {{ page.content }}
        </div>
      </div>

      <div class="area _example">
        <div class="wrap">
          <img class="_flex" src="/assets/img/nyo/laptopV2BW.jpg" alt="">
        </div>
      </div>

      <div class="area _example">
        <div class="wrap _single">
          <video class="video _dtp" autoplay playsinline muted loop poster="">
            <source src="/assets/vid/nyo/explode/DESKTOP.mp4" type="video/mp4">
          </video>
          <video class="video _mob" autoplay playsinline muted loop poster="">
            <source src="/assets/vid/nyo/explode/MOBILE.mp4" type="video/mp4">
          </video>
        </div>
      </div>

      <div class="area _example">
        <div class="wrap _split _gap--mob">
          <div class="visual">
            <img src="/assets/img/nyo/scroll.jpg" alt="">
          </div>
          <div class="visual">
            <img src="/assets/img/nyo/laptopBW.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="area _example">
        <div class="wrap _single">
          <video class="video _dtp" autoplay playsinline muted loop poster="">
            <source src="/assets/vid/nyo/main/DESKTOP.mp4" type="video/mp4">
          </video>
          <video class="video _mob" autoplay playsinline muted loop poster="">
            <source src="/assets/vid/nyo/main/MOBILE.mp4" type="video/mp4">
          </video>
        </div>
      </div>

      <div class="area _pages">
        <div class="wrap _pages">
          <span class="lnk _prev">Prev</span>
          <a href="/projects/" class="lnk _index">Project Index</a>
          <span class="lnk _next">Next</span>
        </div>
      </div>

      {% include html/area-desktop.html %}
      {% include html/area-email.html %}
      {% include html/area-footer.html %}

      {% if site.footer %}
      <footer>
        {{site.footer}}
      </footer>
      {% endif %}

    </div>

  </body>

  {% include html/scripts.html %}

</html>
