<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js">

  {% include html/head.html %}

  <body class="layout-page">

    {% include html/load.html %}

    <div class="site _full" style="opacity:0;">

      {% if site.header %}
      <header>
        {{ site.header }}
      </header>
      {% endif %}

      {% include html/header.html %}
      {% include html/menu.html %}

      <div class="project">

        <div class="area _example">
          <div class="wrap _split">
            <div class="logo _static"></div>
            <div class="visual _laptop"></div>
          </div>
        </div>

        <div class="area _notes" id="notes">
          <div class="wrap _notes">
            <div class="copy">
              <p><strong>The Client:</strong> The National Youth Orchestra is a collection of 164 teenage musicians, originating from all over the UK.</p>

              <p><strong>The Project:</strong> We worked with them to re-imagine their print identity for digital use. They wanted the identity to better reflect their music. It needed to be more fluid and engaging. During the process, we recognized 3 NYO mission principles:</p>

              <p>
                <li>To inspire youth</li>
                <li>To be open to the nation</li>
                <li>To create incredible orchestral performances</li>
              </p>

              <p>These guided us in our response. We developed several concept routes, ultimately producing 1 animated identity which is displayed before NYO video content.</p>

              <p><strong>The Result:</strong> Concept work, animations</p>
            </div>
          </div>
        </div>

        <div class="area _example">
          <div class="wrap _single">
            <div class="visual _laptopV2"></div>
          </div>
        </div>

        <div class="area _example">
          <div class="wrap _single">
            <div class="visual _demo _gold"></div>
            <div class="visual _switch">
              <div class="color _black"></div>
              <div class="color _gold"></div>
              <div class="color _red"></div>
              <div class="color _green"></div>
              <div class="color _blue"></div>
            </div>
          </div>
        </div>

        <div class="area _example">
          <div class="wrap _split">
            <div class="logo"></div>
            <div class="visual"></div>
          </div>
        </div>

        <div class="area _example">
          <div class="wrap _single">
            <video autoplay muted loop>
              <source src="/assets/vid/nyo.mp4" type="video/mp4">
            </video>
          </div>
        </div>

        <div class="area _pages">
          <div class="wrap _pages">
            <span class="lnk _prev">Prev</span>
            <span class="lnk _index">View Project Index</span>
            <span class="lnk _next">Next</span>
          </div>
        </div>
      </div>

      {% include html/desktop.html %}
      {% include html/email.html %}
      {% include html/footer.html %}

      {% if site.footer %}
      <footer>
        {{site.footer}}
      </footer>
      {% endif %}

    </div>

  </body>

  {% include html/scripts.html %}

</html>
